$body-bg: #000000;
$body-color: #fff;
$link-color: #fff;
$link-decoration: underline;
$link-hover-color: #fff;
$red: #f5365c;
$danger: $red;
$border-color: #e9ecef;
$default: #0658FD;
$primary: #5EE4B7;
