{% extends 'model_base.html' %}

{% block title %}
Custom Model Name
{% endblock %}

{% block headerimg %}
<div class="page-header-image" style="background-image: url('assets/images/stetho.jpg')"></div>
<!--<div class="page-header-image" style="background-image: url('https://app.creative-tim.com/argon_placeholder/ill/p8.svg')"></div>-->
{% endblock %}

{% block header %}
Custom Model Name
{% endblock %}

{% block miniheader %}
Generic Title
{% endblock %}

{% block content %}
<p>Early Prognosis of COVID-19 using Post-Anterior View of Chest X-Rays with Deep Convolutional Neural Networks</p>

<p>This paper aims to identify/predict covid positive individuals by using lung X-Ray images. There are many papers
    which have been published on this topic but this paper successfully solves all the problems which makes it different
    than other papers. The whole thing started as a project but different insightfull findings lead us to make a
    fulfledged paper and publish it(<–I know we thought of publishing from the beginning but to add some spice i wrote
        that–>). Now, If you are a computer vision enthusiast or excited to know how AI and Machine Learning can help to
        over come the covid situation or want to quickly look through all the findings that this paper acchives in
        general then you should consider reading the blog. Now, without a further a do let’s hop on to the review.</p>
{% endblock %}