{% extends 'base.html' %}

{% block title %}
DamikDhar
{% endblock %}

{% block headerimg %}
<div class="page-header-image" style="background-image: url('assets/images/stetho.jpg')"></div>
<!--<div class="page-header-image" style="background-image: url('https://app.creative-tim.com/argon_placeholder/ill/p8.svg')"></div>-->
{% endblock %}

{% block header %}
Damik Dhar
{% endblock %}

{% block miniheader %}
A Pro Web Developer
{% endblock %}

{% block content %}
<p>Baal</p>

<p>Faadu Slide.</p>
{% endblock %}
