{% extends 'base.html' %}

{% block title %}
Hello Shreya
{% endblock %}

{% block headerimg %}
<div class="page-header-image" style="background-image: url('assets/images/mountain.jpg')"></div>
<!--<div class="page-header-image" style="background-image: url('https://app.creative-tim.com/argon_placeholder/ill/p8.svg')"></div>-->
{% endblock %}

{% block header %}
Just a Test Page
{% endblock %}

{% block miniheader %}
Yahan pe miniheader
{% endblock %}

{% block content %}
<p>Para1</p>

<p>Para2</p>
{% endblock %}